main {
  display: flex;
  flex-direction: column;
}

#row-1,
#row-2 {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#row-2 {
  align-items: flex-end;
}



